*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 85vw;
    padding: 2rem 1rem;
    margin: auto;
    /* background-color: gray; */
}
.contHead{
    margin-bottom: 2.8rem;
}
.contTitle{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 800;
}
.contDesc{
    max-width: 700px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    color: rgb(94, 91, 91);
}
.contMain{
    display: grid;
    gap: 1.5rem; 
    grid-template-columns: repeat(3,1fr);  
}
@media(max-width:1000px){
    .contMain{
        display: grid;
        gap: 2rem; 
        grid-template-columns: repeat(2,1fr);  
    }
}
@media(max-width:630px){
    .contMain{
        display: grid;
        gap: 2rem; 
        grid-template-columns: repeat(1,1fr);  
    }
}

.cardContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(110, 108, 108);
    border-radius: 10px;
    overflow: hidden;
}
.cardImgCont{
    position: relative;
    overflow: hidden;
    height: 15rem;
}

.Card_img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cardtitle{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.cardContainer:hover .Card_img{
    transform: scale(1.1);
    transition-duration: 250ms;
}
.cardSubTitle{
    font-size: 17px;
    color: black;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}
.cardtitle:hover .cardSubTitle{
    color: rgb(4, 4, 207);
}
.cardDesc{
    color: rgb(94, 91, 91);
}

.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}
.cardAuthor{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.authorAvatar{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 0.5px solid rgb(146, 143, 143);
    border-radius: 50%;
    background-color: rgb(236, 230, 230);
}

.authoInfo{
    display: flex;
    flex-direction: column; 
}
#authName{
    color: rgb(34, 34, 194);
    font-size: 18px;
    font-weight: 900;
}
#authDate{
    color: rgb(116, 115, 115);
    font-size: 15px;
}

.cardTag{
    font-size: 15px;
    color: rgb(82, 79, 79);
    border: 1px solid rgb(128, 122, 122);
    border-radius: 3px;
    line-height: 1.3rem;
    padding: 0.5rem 0.5rem;
    align-items: center;
}